body {
    font-family: "Manrope";
    font-style: normal;
    margin: auto;
    max-width: 1440px;
  }
  
  main {
    background-color: #EDEDED;
  }
  
  .header {
    height: 667px;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/lampos-aritonang-24gR_9lCdes-unsplash-scaled.jpg");
    background-size: 100%;
    background-position-y: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
  }
  .header__logo {
    position: absolute;
    top: 51px;
    left: 69px;
    color: white;
    font-family: "Anton";
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__logo i {
    position: relative;
    font-size: 20px;
  }
  .header__logo i i {
    position: absolute;
    right: 2.6px;
    top: 2.9px;
    font-size: 15px;
    color: black;
  }
  .header h1 {
    color: #FFD15B;
    font-family: "Anton";
    font-weight: 400;
    line-height: 66px;
    font-size: 44px;
    text-align: center;
    width: 720px;
  }
  .header__search-bar {
    width: 80%;
    height: 72px;
    position: relative;
    max-width: 954px;
  }
  .header__search-bar input {
    width: 100%;
    height: inherit;
    border-radius: 11px;
    border: none;
    padding: 12px 35px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7A7A7A;
  }
  .header__search-bar span {
    display: none;
    position: absolute;
    top: 27px;
    right: 80px;
    font-size: 20px;
    color: #7A7A7A;
    cursor: pointer;
  }
  .header__search-bar button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #1B1B1B;
    border-radius: 10px;
    width: 51px;
    height: 52px;
    border: none;
    cursor: pointer;
  }
  .header__search-bar button:hover {
    background: #FFD15B;
  }
  .header__search-bar button:hover i {
    color: black;
  }
  .header__search-bar button i {
    font-size: 30px;
    color: white;
  }
  @media screen and (max-width: 1000px) {
    .header {
      background-size: cover;
      background-position-x: center;
    }
  }